@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    color: #fff !important;
    border-width: 2px !important;
    font-family: 'Comfortaa', 'Kanit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    /* cursor: url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto; */
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-2 -2 20 20"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linecap="round" rx="10" ry="10" d="M 0 15 A 1 2 22.5 0 0 1.2929 15.7071 L 4.2929 12.7071 A 1 1.75 67.5 0 1 6 12 H 10 A 1 2 112.5 0 0 10.5858 10.5858 L 1.4142 1.4142 A 1 2 -22.5 0 0 0 2 Z"></path></svg>'), auto;
}

.bg {
    background-image: none;
    background-color: #000;
}

h1 {
    color: #fff;
}

button,
.noty_body,
.header-nav,
.btn {
    color: #fff !important;
    background-color: #444;
    border-color: #fff;
    border-width: 2px;
    outline: 0 !important;
}

button,
.btn:hover {
    color: #fff !important;
    background-color: #666;
    border-color: #fff;
    border-width: 2px;
}

button,
.btn:active {
    color: #fff !important;
    background-color: #666;
    border-color: #fff;
    border-width: 2px;
}

a {
    text-decoration: none;
}

.img-fluid {
    filter: grayscale(1);
}

.txt_input {
    background-color: #222 !important;
    color: #fff;
}