@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    color: #fff !important;
    border-width: 2px !important;
    font-family: 'Comfortaa', 'Kanit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    cursor: url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}

.bg {
    background-image: none;
    background-color: #000;
}

h1 {
    color: #fff;
}

button,
.noty_body,
.header-nav,
.btn {
    color: #fff !important;
    background-color: #444;
    border-color: #fff;
    border-width: 2px;
    outline: 0 !important;
}

button,
.btn:hover {
    color: #fff !important;
    background-color: #666;
    border-color: #fff;
    border-width: 2px;
}
button,
.btn:active {
    color: #fff !important;
    background-color: #666;
    border-color: #fff;
    border-width: 2px;
}

a {
    text-decoration: none;
}

.img-fluid {
    filter: grayscale(1);
}

.txt_input {
    background-color: #222 !important;
    color: #fff;
}